// COLORS
$color-primary: rgb(0, 136, 177); // ?
$color-primary-light: rgb(27, 188, 236);
$color-primary-very-light: rgb(100, 224, 252);
$color-primary-dark: rgb(45, 46, 51);

$color-secondary-light: #fbe1df;
$color-secondary-dark: #f9acbc;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #FFF;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem; // industry standard
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;